graft cli
recursive-exclude cli __pycache__ *
recursive-exclude cli *.py[cod]
prune .venv
prune extensions
prune gateway
prune internal
prune node_modules
prune test
prune .git
prune .github
prune .pytest_cache
